# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store

# Results and temp outputs
lab_results/
*.png

# Editors
.vscode/
.idea/
